/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove form styles */
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Set default font */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

#canvas {
  border: 1px solid slategray;
  height: auto;
  width: 100vw;
}
